<aside class="filters-sidebar">
  <div class="filters-content">
    <!-- Filtro de Especialidad -->
    <ion-card class="filter-section">
      <ion-card-header>
        <ion-card-title class="filter-title">Especialidad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group
          [value]="selectedSpecialty"
          (ionChange)="onSpecialtyChange($event.detail.value)">
          <ion-item *ngFor="let specialty of specialties" class="filter-option">
            <ion-radio
              slot="start"
              [value]="specialty.value">
            </ion-radio>
            <ion-label class="filter-label">{{ specialty.label }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>

    <!-- Filtro de Ubicación -->
    <ion-card class="filter-section">
      <ion-card-header>
        <ion-card-title class="filter-title">Ubicación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group
          [value]="selectedLocation"
          (ionChange)="onLocationChange($event.detail.value)">
          <ion-item *ngFor="let location of locations" class="filter-option">
            <ion-radio
              slot="start"
              [value]="location.value">
            </ion-radio>
            <ion-label class="filter-label">{{ location.label }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>
  </div>
</aside>
