<ion-card class="forgot-card">
  <ion-card-content>
    <h2>Recuperar contraseña</h2>
    <p *ngIf="!sent">Ingresá tu email y te enviaremos instrucciones.</p>
    <p *ngIf="sent">Si el email existe, te enviamos un mensaje con los pasos a seguir.</p>
    <ion-item *ngIf="!sent">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button *ngIf="!sent" expand="block" (click)="onSubmit()">Enviar</ion-button>
    <div class="links">
      <a routerLink="/login">Volver a Ingresar</a>
    </div>
  </ion-card-content>
</ion-card>


