<ion-content class="ion-padding">
  <div class="header">
    <div class="actions">
      <ion-button *ngIf="!editMode && profile" fill="solid" color="primary" (click)="toggleEdit(true)">
        <ion-icon name="create" slot="start"></ion-icon>
        Editar
      </ion-button>
      <ng-container *ngIf="editMode">
        <ion-button fill="outline" color="medium" (click)="toggleEdit(false)" [disabled]="savingProfile">
          <ion-icon name="close" slot="start"></ion-icon>
          Cancelar
        </ion-button>
        <ion-button color="primary" (click)="save()" [disabled]="savingProfile">
          <ion-spinner *ngIf="savingProfile" name="crescent"></ion-spinner>
          <ion-icon *ngIf="!savingProfile" name="save" slot="start"></ion-icon>
          Actualizar Usuario
        </ion-button>
      </ng-container>
    </div>
  </div>

  <div *ngIf="loadingProfile" style="text-align: center; padding: 3rem;">
    <ion-spinner></ion-spinner>
    <p>Cargando perfil...</p>
  </div>

  <ion-grid *ngIf="!loadingProfile && profile" class="form-grid">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Nombre de usuario</ion-label>
          <ion-input [(ngModel)]="profile.username" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="profile.email" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="profile.first_name" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input [(ngModel)]="profile.last_name" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <div class="phone-row">
            <ion-input class="phone" [(ngModel)]="profile.country_phone" [disabled]="!editMode"></ion-input>
            <ion-input class="phone" [(ngModel)]="profile.area_code" [disabled]="!editMode"></ion-input>
            <ion-input class="phone" [(ngModel)]="profile.phone_number" [disabled]="!editMode"></ion-input>
          </div>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-item>
          <ion-label position="stacked">Tipo de Documento</ion-label>
          <ion-select [(ngModel)]="profile.document_type" [disabled]="!editMode">
            <ion-select-option value="DNI">Documento Nacional de Identidad</ion-select-option>
            <ion-select-option value="LE">Libreta de Enrolamiento</ion-select-option>
            <ion-select-option value="LC">Libreta Cívica</ion-select-option>
            <ion-select-option value="PAS">Pasaporte</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-item>
          <ion-label position="stacked">Número de documento</ion-label>
          <ion-input [(ngModel)]="profile.document_number" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-item>
          <ion-label position="stacked">Fecha de nacimiento</ion-label>
          <ion-input type="date" [(ngModel)]="profile.birth_date" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-item>
          <ion-label position="stacked">Nacionalidad</ion-label>
          <ion-input [(ngModel)]="profile.nationality" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Descripción</ion-label>
          <ion-textarea [(ngModel)]="profile.description" [disabled]="!editMode"></ion-textarea>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Domicilio</ion-label>
          <ion-input [(ngModel)]="profile.address" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="stacked">Calle y número</ion-label>
          <div class="street-row">
            <ion-input [(ngModel)]="profile.street" [disabled]="!editMode"></ion-input>
            <ion-input class="number" [(ngModel)]="profile.street_number" [disabled]="!editMode"></ion-input>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="2">
        <ion-item>
          <ion-label position="stacked">Piso</ion-label>
          <ion-input [(ngModel)]="profile.floor" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="2">
        <ion-item>
          <ion-label position="stacked">Depto</ion-label>
          <ion-input [(ngModel)]="profile.apartment" [disabled]="!editMode"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">País</ion-label>
          <ion-input [value]="'Argentina'" [disabled]="true"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Provincia</ion-label>
          <ion-select
            [value]="selectedProvinceId?.toString()"
            [disabled]="!editMode"
            (ionChange)="onProvinceChange($event)"
            placeholder="Seleccionar provincia">
            <ion-select-option [value]="null">Seleccionar provincia</ion-select-option>
            <ion-select-option *ngFor="let province of provinces" [value]="province.id.toString()">
              {{ province.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Localidad</ion-label>
          <ion-select
            [value]="selectedLocalityId?.toString()"
            [disabled]="!editMode || !selectedProvinceId || loadingLocalities"
            (ionChange)="onLocalityChange($event)"
            placeholder="Seleccionar localidad">
            <ion-select-option [value]="null">Seleccionar localidad</ion-select-option>
            <ion-select-option *ngIf="loadingLocalities" [value]="null" disabled>
              Cargando localidades...
            </ion-select-option>
            <ion-select-option *ngFor="let locality of localities" [value]="locality.id.toString()">
              {{ locality.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <div class="activities">
          <div class="label">Actividades</div>
          <ion-chip *ngFor="let a of profile.activities">{{ a.name }}</ion-chip>
          <p *ngIf="!profile.activities || profile.activities.length === 0" class="empty-state">Sin actividades asignadas</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!loadingProfile && !profile" style="text-align: center; padding: 3rem;">
    <p>No se pudo cargar el perfil</p>
  </div>

  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [color]="toastColor"
    [duration]="3000"
    (didDismiss)="showToast = false">
  </ion-toast>
</ion-content>

