<ion-card class="login-card">
  <ion-card-content>
    <h2>Acceder</h2>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <div class="error" *ngIf="error">{{ error }}</div>
    <ion-button expand="block" (click)="onSubmit()">Ingresar</ion-button>
  </ion-card-content>
  </ion-card>


