<div class="search-container">
  <div class="search-wrapper">
    <ion-searchbar
      class="search-input"
      placeholder="Buscar..."
      [value]="searchQuery"
      (ionInput)="onSearchInput($event)"
      (keyup.enter)="onSearch()"
      show-clear-button="focus"
      animated="false"
      [disabled]="isLoading">
    </ion-searchbar>
  </div>

  <ion-button
    class="search-button"
    (click)="onSearch()"
    fill="solid"
    color="primary"
    [disabled]="isLoading || !canSearch">
    <ion-icon name="search" slot="start"></ion-icon>
    {{ isLoading ? 'Buscando...' : 'Buscar' }}
  </ion-button>
</div>
